*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper{
   width: 100%; 
}
.leftBox ul{
    width: 70%;
    min-height: 200px;
    margin: 20px;
    /* border: 1px solid black; */
}
.leftBox ul li{
    width: 180px;
    height: 300px;
    float: left;
    /* border: 1px solid black; */
    margin-left: 20px;
    
}
.leftBox ul li img{
    width: 100%;
    height: 70%;
    border: 1px solid #eee; 
}
.leftBox ul li span{
    font-size: 16px;
    font-weight: bold;
}
.leftBox ul li .name{
    color: black;
    margin: 10px;
}
.leftBox ul li .money{
    color: #ff0036;
    margin: 10px;
}
.leftBox ul li button{
    height: 35px;
    width: 80px;
    color: #fff;
    font-weight: bold;
    margin-top:10px;
    margin-right: 5px; 
}
.leftBox ul li .addShop{
    background-color: #f40;
}
.leftBox ul li .addLike{
    background-color: #ff0036;
}
.rightBox{
    /* display: none; */
    width: 30%;
    height: 100%;
    border: 1px solid #ddd;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
}
table,thead{
    width: 100%;
}
tr th{
    width: 25%;
    height: 30px;
    background-color: #f40;
    font-size: 16px;
    padding: 2px 0;
    color: #fff;
}
tbody{
    min-height: 200px;
}
tr td{
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    padding: 5px 0;
}
tr td a{
    padding: 2px 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.rightBox .allMoney{
    top: 60%;
    left: 0;
    position: absolute;
    font-weight: bold;
}
.totalMoney{
    color: #ff0036;
}
